.toolbar
  .toolbar-left
    = form_tag(resource_class, :method => :get, :class => 'scope-selects') do
      %select{:name => 'type'}
        = offer_select_options

  .toolbar-right
    = link_to_new_resource(Offer)
