= render :layout => 'e9_crm/record_attributes/record_attribute', :locals => { :f => f, :value_field_type => :text_area } do
  - if (types = AddressAttribute.types).present?
    = f.fields_for f.object.options do |ff|
      .field
        = ff.select :type, types
